<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirecting..</title>
</head>
<body>
   <script>
       window.alert('Successfull Signup.   Redirecting to Login page......');
       window.location="/";       
       </script>
</body>
</html>